<div id="case-block-{{.PacerID}}">
    <div class="case-row" hx-get="/collapse-docs" hx-vals='{"caseID": "{{.PacerID}}"}' hx-swap="outerHTML" hx-target="#case-block-{{.PacerID}}">
        <div id="title-{{.PacerID}}" hx-preserve></div>
        <img class="plus" src="/img/minus.svg" />
    </div>
    <div class="doc-list">
        {{range .Docs}}
        <div class="case-row">
            <div hx-get="/purchase-doc-credits"
                hx-vals='{"docID": "{{.ID}}", "file": "{{.File}}", "credits": "{{.Credits}}"}'>
                Doc Number: {{.DocNumber}} {{.Description}} Pages: ({{.Pages}}) Credits: {{.Credits}}</div>
        </div>
        {{end}}
    </div>
</div>