<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300&family=Work+Sans:wght@300&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@400&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css" />
    <title>Case Load</title>
    <script src="https://unpkg.com/htmx.org"></script>
</head>

<body>
    <header>
        <h1 class="logo">Case Load</h1>
        <div class="navigation">
            <nav>
                <a href="/">
                    <div class="nav-div">
                       Home 
                    </div>
                <a href="/browse">
                    <div class="nav-div">
                        Browse
                    </div>
                </a>
                <a href="/pacer-lookup">
                    <div class="nav-div">
                        Pacer Lookup
                    </div>
                </a>
            </nav>
            <nav>
                {{if gt .UserID 0}}
                <div class="logged-in-nav">
                    <div>Available Credits: {{.Credits}}</div>
                    <div>
                        <a href="/view-docs">
                            <div class="nav-div">
                                View Docs
                            </div>
                        </a>
                        <a href="/buy-credits">
                            <div class="nav-div">
                                Buy Credits
                            </div>
                        </a>
                    </div>
                </div>
                {{else}}
                <a href="/login">
                    <div class="nav-div">
                        Log In
                    </div>
                </a>
                <a href="/signup">
                    <div class="nav-div">
                        Sign Up
                    </div>
                </a>
                {{end}}
            </nav>
            </nav>
        </div>
    </header>
    <main>
        <form id="credit-form" action="/checkout" method="post">
            <input type="radio" id="amount10000" name="amount" value="10000">
            <label class="credit-btn" for="amount10000">
                10,000 credits
                ($10.00)
            </label>
            <input type="radio" id="amount100000" name="amount" value="100000">
            <label class="credit-btn" for="amount100000">
                100,000 credits
                ($100.00)
            </label>
            <input type="radio" id="amount500000" name="amount" value="500000">
            <label class="credit-btn" for="amount500000">
                500,000 credits
                ($500.00)
            </label>
            <input type="text" id="custom-amount" name="amount">
            <label for="custom-amount">
                Custom Amount
            </label>
            <button type="submit" value="Submit">
                Checkout
            </button>
        </form>
    </main>
</body>