<main>
    <form id="credit-form" action="/checkout" method="post">
        <input type="radio" id="amount10000" name="amount" value="10000">
        <label class="credit-btn" for="amount10000">
            10,000 credits
            ($10.00)
        </label>
        <input type="radio" id="amount100000" name="amount" value="100000">
        <label class="credit-btn" for="amount100000">
            100,000 credits
            ($100.00)
        </label>
        <input type="radio" id="amount500000" name="amount" value="500000">
        <label class="credit-btn" for="amount500000">
            500,000 credits
            ($500.00)
        </label>
        <input type="text" id="custom-amount" name="amount">
        <label for="custom-amount">
            Custom Amount
        </label>
        <button type="submit" value="Submit">
            Checkout
        </button>
    </form>
</main>