<header>
    <h1 class="logo">Case Load</h1>
    <div class="navigation">
        <nav>
            <a hx-get="/home" hx-target="main" hx-push-url="true">
                <div class="nav-div">
                    Home
                </div>
            </a>
            <a hx-get="/browse" hx-target="main" hx-push-url="true">
                <div class="nav-div">
                    Browse
                </div>
            </a>
            <a hx-get="/pacer-lookup" hx-target="main" hx-push-url="true">
                <div class="nav-div">
                    Pacer Lookup
                </div>
            </a>
        </nav>
        <nav>
            <a hx-get="/login" hx-target="main" hx-push-url="true">
                <div class="nav-div">
                    Log In
                </div>
            </a>
            <a hx-get="/signup" hx-target="main" hx-push-url="true">
                <div class="nav-div">
                    Sign Up
                </div>
            </a>
        </nav>
    </div>
</header>