<main>
    <h1>We exists for one purpose, to make court case documents as cheap as possible</h1>
    <h2>How it works</h2>
    <p>Case Load is very simple. You buy credits with us. You spend credits on documents. You receive
        credits when others buy documents you originally bought. Exchange credits for dollars at any time.
    </p>
    <h2>Why credits?</h2>
    <p>Using credits reduces the number of times we have to charge credit cards. It also let's
        document be worth less than 1c.
    <p>
    <h2>Getting Started</h2>
    <ol>
        <li>Create an account</li>
        <li>Buy credits (remember, you can exchange them back for $ at any time)</li>
        <li>Look for your document on our hub.</li>
        <li>If you can't find it, use our portal to buy it from PACER.</li>
    </ol>
    <h2>FAQ</h2>
    <ol>
        <li>What if I don't know the docket #?</li>
        <p>Court Listener is an excellent place to search for a docket number. They may even have
            the documents you are looking for for free</p>
        <li></li>
    </ol>
</main>