<main>
    <section class="login-section">
        <h2>Login</h2>
        <form class="login-form" action="/login-submit" method="post">
            <div class="login-form-group">
                <label for="email">Email:</label>
                <input type="email" name="email" id="email" required>
            </div>
            <div class="login-form-group">
                <label for="password">Password:</label>
                <input type="password" name="password" id="password" required>
            </div>
            <button class="login-button" type="submit" value="Submit">Log In</button>
        </form>
    </section>
</main>