<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300&family=Work+Sans:wght@300&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@400&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css" />
    <title>Case Load</title>
    <script src="https://unpkg.com/htmx.org"></script>
</head>

<body>
    <header>
        <h1 class="logo">Case Load</h1>
        <div class="navigation">
            <nav>
                <a href="/">Browse</a> |
                <a href="/pacer-lookup">Pacer Portal</a> 
            </nav>
            <nav>
                {{if .LoggedIn}}
                    <a href="/buy-credits">Buy Credits</a>
                {{else}}
                    <a href="/login">Log In</a> |
                    <a href="/signup">Sign Up</a>
                {{end}}
            </nav>
            </nav>
        </div>
    </header>
    <main>
        <form action="/pacer-login-submit" method="POST">
            <label for="username">PACER Username</label>
            <input name="username" />
            <label for="password">PACER Password</label>
            <input name="password" />
            <button type="submit" value="Submit">Log In</button>
        </form>
    </main>
</body>

</html>