{{range .Cases}}
<div id="case-block-{{.PacerID}}">
    <div class="case-row" hx-get="/user-browse-docs" hx-vals='{"caseID": "{{.PacerID}}"}' hx-swap="outerHTML"
        hx-target="#case-block-{{.PacerID}}">
        <div id="title-{{.PacerID}}" hx-preserve="true">
            {{.Title}}
        </div>
        <img class="plus" src="/img/plus.svg" />
    </div>
</div>
{{end}}
<div hx-get="/user-browse-scroll" hx-trigger="revealed" hx-swap="outerHTML"
    hx-vals='{"search": "{{.Search}}", "caseID": "{{.CaseID}}"}'></div>